# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# Database
DATABASE_URL=postgres://postgres:123456@127.0.0.1:5432/api_engine
POSTGRES_DB=api_engine
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

# Celery / Redis
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# Paths
WEBROOT=/api
STATIC_ROOT=/var/www/server/static
MEDIA_ROOT=/var/www/media
MEDIA_URL=/media/
