func (cc *SmartContract) {{ event_name }}(ctx contractapi.TransactionContextInterface, instanceID string) error {
	stub := ctx.GetStub()
	instance, err := cc.GetInstance(ctx, instanceID)
	actionEvent, err := cc.ReadEvent(ctx, instanceID, "{{ event_name }}")
	if err != nil {
		return err
	}

	if actionEvent.EventState != ENABLED {
		errorMessage := fmt.Sprintf("Event state %s is not allowed", actionEvent.EventID)
		fmt.Println(errorMessage)
		return fmt.Errorf(errorMessage)
	}

	cc.ChangeEventState(ctx, instance, "{{ event_name }}", COMPLETED)
	stub.SetEvent("{{ event_name }}", []byte("Event has been completed"))
	cc.SetInstance(ctx, instance)
{% if action_block %}
{{ action_block }}
{% endif %}
	cc.SetInstance(ctx, instance)
	return nil
}

